$light-100:#f2e9e0;
$light-50:#f9f8f4;
$white:#fff;
$white-300:#f9f9fb;
$white-400:#f3f3f6;
$white-500:#eeeef2;
$dark:#211c16;
$dark-200:#253858;
$dark-300:#3b485a;
$dark-500:#494e5a;
$gray-60:#b9b2a8;
$gray-50:#ccd4e0;
$gray-100: #8998AC;
$gray-20:#e8e8f0;
$gray-40:#c4c4d4;
$gray-30:#9798b2;
$gray-10:#dfdfed;
$blue-500:#5357f7;
$blue-300:#5183c8;
$primary-light:#592aa1;
$primary:#9637f1;
